<ng-container *ngIf="locationDataStatus$ | async as locationDataStatus" [ngSwitch]="locationDataStatus">
  <form class="flex flex-col" [formGroup]="inputForm" (ngSubmit)="onSubmit()" *ngSwitchDefault>
    <app-city-input [parentForm]="inputForm"></app-city-input>
    <app-country-code-input [parentForm]="inputForm"></app-country-code-input>
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white py-1 px-1 rounded">Get Weather</button>
  </form>

  <div *ngSwitchCase="StoreDataStatus.PENDING">Waiting for data...</div>

  <div *ngSwitchCase="StoreDataStatus.SUCCESS">
    Location data:
    {{ locationData$ | async | json }}
  </div>

  <div *ngSwitchCase="StoreDataStatus.ERROR">
    ERROR:
    {{ locationData$ | async | json }}
  </div>
</ng-container>
