<div [formGroup]="parentForm" class="flex flex-col">
  <label for="dateTimeInput" class="font-karla">Birthday & Time</label>
  <input
    formControlName="dateTime"
    id="dateTimeInput"
    type="datetime-local"
    class="font-inconsolata rounded-md border border-solid px-2"
    [ngClass]="{ 'border-red-600': dateTime.invalid && dateTime.touched, 'border-slate-600': !dateTime.touched }"
    [min]="minDateTime"
    [max]="maxDateTime"
  />
  <span *ngIf="!dateTime.valid && dateTime.touched" class="font-inconsolata text-xs text-gray-500"
    >Please select a date and time!</span
  >
</div>
