<ng-container *ngIf="locationDataStatus$ | async as locationDataStatus">
  <div class="box-border rounded-xl bg-white p-12">
    <header class="mb-6">
      <h1 class="font-karla text-2xl">Your Birthday Weather</h1>
      <h3 class="font-inconsolata text-slate-600" *ngIf="locationDataStatus === StoreDataStatus.INIT">
        Input location and date info to receive the weather conditions.
      </h3>
    </header>
    <app-birthday-weather-query
      *ngIf="locationDataStatus === StoreDataStatus.INIT; else weatherDisplay"
    ></app-birthday-weather-query>
    <ng-template #weatherDisplay><app-weather-display></app-weather-display></ng-template>
  </div>
</ng-container>
