<ng-container *ngIf="locationDataStatus$ | async as locationDataStatus">
  <form class="flex flex-col" [formGroup]="inputForm" (ngSubmit)="onSubmit()" *ngIf="locationDataStatus === StoreDataStatus.INIT">
    {{ locationDataStatus }}

    <app-city-input [parentForm]="inputForm"></app-city-input>
    <app-country-code-input [parentForm]="inputForm"></app-country-code-input>
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white py-1 px-1 rounded">Get Weather</button>
  </form>

  <div *ngIf="locationDataStatus === StoreDataStatus.PENDING">
    Waiting for data...
  </div>

  <div *ngIf="locationDataStatus === StoreDataStatus.SUCCESS && locationData$ | async as locationData">
    {{ locationData | json }}
  </div>

  <div *ngIf="locationDataStatus === StoreDataStatus.ERROR">
    ERROR
  </div>
</ng-container>
